header {
  margin-left: 5px;
  background-color: rgb(255, 225, 0);
  color:rgb(208, 18, 18);
  font-size:xx-large;
  font-weight: bolder;

}
main {
  margin-left: 5px;
  background-color: rgb(255, 225, 0);
  color:rgb(208, 18, 18);
  font-weight: bolder;
}

ol {
  list-style:decimal;
}

ol li {
  margin-left: 25px;
}

ul {
  list-style:disc;
}

ul li {
  margin-left: 25px;
}

footer {
  margin-left: 5px;
}